*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center; 
    background-image: linear-gradient(to right, rgb(160, 158, 158), white); 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#addNoteButton {
    position: fixed;
    top: 1rem;
    left: 1rem;
    height: 5rem;
    width: 5rem;
    z-index: 10;
    border-radius: 50%;
    font-size: 2rem;
    background-color: yellowgreen;
    border: 2px solid yellowgreen;
    animation: addbutton 4s linear infinite;
    transition: all 0.5s linear;
}

@keyframes addbutton {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}
#addNoteButton:hover {
    cursor: pointer;
    background-color: rgb(234, 207, 211);
    color: rgb(138, 199, 16);
}
.main_container > .note_editor {
    background-color: orange;
    border-radius: 0.5rem;
    position: absolute;
    left: 40%;
    top: 30%;
    display: flex;
    z-index: 10;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem 1rem;
}
.note_editor>textarea{
    font-size: 16px;
    border-radius: 0.5rem;
    border-width: 0px;
    outline: none;
    padding: 0.4rem;
}
.save_note,.close_editor{
    border-radius: 0.5rem;
    border: 1px solid orangered;
    padding: 0.2rem 0.5rem;
}
.save_note,.close_editor:hover{
    cursor: pointer;
}

.notes_container {
    display: flex;
    width: 70%;
    gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
}
.note {
  width: 300px; 
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background-color: #f0f0f0;
  position: relative; 
  overflow: hidden; 
  word-wrap: break-word; 
  box-sizing: border-box;
}

.delete_note {
    position: absolute;
    padding: 0.2rem 0.5rem;
    border: 2px solid black;
    border-radius: 0.1rem;
    top: 0.2rem;
    right: 0.2rem;
    background-color: transparent;
    outline: none;
    border-width: 0px;
    color: white;
}
.delete_note:hover {
    cursor: pointer;
}

.notes_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.notes_section>h1{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    color: red;
    font-size: 3rem;
    animation: heading 8s linear infinite;
}
 @media screen and (max-width:450px) {
    .notes_section>h1{
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 2rem;
        color: red;
        font-size: 2.5rem;
        animation: heading 8s linear infinite;
    }
 }

@keyframes heading {
    0%{
        transform: translateX(-2rem);
        color: red;
    }
    50%{
        transform: translateX(2rem);
        color: blue;
    }
    100%{
        transform: translateX(-2rem);
        color: rgb(234, 243, 59);
    }
}

